<?xml version="1.0" encoding="utf-8"?>
<!--
  LearnTogether - IIS-Konfiguration (ASP.NET 4.x, kein Node.js erforderlich).
  Voraussetzungen: IIS mit ASP.NET 4.x (.NET Framework 4.6 oder neuer). Anwendungspool-Identitaet braucht Schreibrechte auf AppData\Data.
-->
<configuration>
  <system.web>
    <compilation targetFramework="4.5" debug="false">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="8192" requestValidationMode="2.0" enableVersionHeader="false" />
    <customErrors mode="RemoteOnly" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <!-- Datenordner (Veranstaltungen, Anmeldungen, Einstellungen, Bilder) ist ueber HTTP nie erreichbar -->
        <hiddenSegments>
          <add segment="Data" />
        </hiddenSegments>
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="Referrer-Policy" value="same-origin" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".ics" />
      <mimeMap fileExtension=".ics" mimeType="text/calendar" />
    </staticContent>
  </system.webServer>
</configuration>
